*{
    padding: 0px;

}

body{
    background-color: aqua;
}

h2 {
    text-align: center;
    justify-content: center;
}
.para p{
    text-align: center;
}
/* card */
.container{
    display: flex;
    justify-content: center;
    margin-top:70px;

}

.card{
    background-color: white;
    
    width: 250px; 
    padding: 20px;
    text-align: center;
    transition: box-shadow 0.3s;

}
#cards{
    border: 1px solid green;
    margin-bottom: -10px;
    margin-top: -10px;
    margin-left: 10px;
    position:relative;
    
}
.card p{
    size: 100px;
}
#free{
    margin-left: 10px;
}
#enter{
    margin-left: 10px;
}
/* button */
button{
    text-align: center;
    color: white;
    background-color: green;
    width: 100px; 
    height: 30px; 
    display: inline-block; 
    
    

}

.card:hover {
    box-shadow: 0 0 10px 5px rgba(0, 255, 0, 0.7); 
}

ul {
    list-style-type: none; 
}

li {
    position: relative; 
    padding-left: 30px; 
    margin-bottom: 10px;
    text-align:left;
}

li::before {
    content: '\2713'; 
    position: absolute; 
    left: 0; 
    top: 50%; 
    transform: translateY(-50%);
    width: 20px; 
    height: 20px; 
    background-color: green; 
    color:white;
    border-radius: 50%; }

/* li::after {
    content: '✔';
    position: absolute; 
    left: 50%; 
    top: 50%; 
    transform: translate(-50%, -50%); 
    color: white; 
    font-size: 14px; 
    font-weight: bold;
    opacity: 1; 
    pointer-events: none;
} */

.xmark::before {
    content: '✖'; 
    position: absolute; 
    left: 0; 
    top: 50%; 
    transform: translateY(-50%);
    width: 20px; 
    height: 20px; 
    background-color: rgb(240, 24, 8); 
    color: white;
    border-radius: 50%; 
}


button {
    text-align: center;
    color: white;
    background-color: green;
    width: 80px;
    height: 50px;
    
    display: inline-block;
     
}

#most{
    position: absolute;
    margin-top: -50px;
    margin-left: -40px;
    
}
